<h1>Lista de Quizzes</h1>
<table>
    <%for(var i in quizzes){ %>
    <% var quiz = quizzes[i];%>
    <tr>
        <td>

            <%= quiz.question %> : <%= quiz.answer%>
        </td>
    </tr>
   <% } %>

</table>

<hr/>
